@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

:root {
  --toast-bg: #ffffff;
  --toast-color: #000000;
}

.dark {
  --toast-bg: #374151;
  --toast-color: #ffffff;
}

#__next {
  min-height: 100vh;
}

body {
  position: relative;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}
